PORT=4000
MONGO_URI='your-mongodb-connection-string'
JWT_SECRET="your-jwt-secret"

SMPT_SERVICE="gmail"
SMPT_HOST="smtp.gmail.com"
SMPT_PORT=465
SMPT_MAIL="your-email@example.com"

CLOUDINARY_NAME="your-cloudinary-cloud-name"
CLOUDINARY_API_KEY="your-cloudinary-api-key"
CLOUDINARY_API_SECRET="your-cloudinary-api-secret"
OPENROUTER_API_KEY="your-openrouter-api-key"
FRONTEND_URL="http://localhost:3000"
